body {
    background: url("./images/bg.jpg") no-repeat center center;
    background-size: auto;
}

video {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.icons-wild-card, .responses-list {
    position: absolute;
    top: 0;
    z-index: 2;
}

.icons-wild-card {
    right: 0;
}

.icons-wild-card .used{
    opacity: 0.3;
}

.responses-list {
    left: 0;
}

.square-bg {
    background: url("./images/question-bg.png") center;
}

.square strong {
    color: #ffc107;
}

.square.bg-warning strong, .square.bg-success strong, .square.bg-danger strong {
    color: #fff;
}

.c-pointer {
    cursor: pointer;
    z-index: 3;
}

.square {
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
}

.square-item {
    -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
}

.ghost {
    opacity: 0 !important;
    background-color: transparent !important;
}

.question-number {
    position: relative;
    top: -60px;
}