body {
    background-color: #66b4ff;    
}

video {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

#time {
    vertical-align: middle;
}

.letter-item {
    position: absolute;
    left: 50%;
    top: 50%;
}

.letter-item .letter-content {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid #fff;
}

.controls-footer {
    border-top: 2px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:5;
}

.questions-list {
    margin-bottom: 100px;
}

.questions-list .list-group-item:not(.selected) > * {
    opacity: 0.4;
}

.questions-list .list-group-item:not(.selected) .btn {
    display: none;
}

.ghost {
    opacity: 0 !important;
    background-color: transparent !important;
}
