body {
    background-color: #66b4ff;    
}

.face::before {
    content: "";
    width: 100vw;
    background: url(../images/ivan_good.png) no-repeat center center;
    height: 100vh;
    display: inline-block;
}

video {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

#time {
    vertical-align: middle;
}

.letter-item {
    position: absolute;
    left: 50%;
    top: 50%;
}

.letter-item .letter-content {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid #fff;
}

.letter-item.selected-letter .letter-content {
    animation-name: flicker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flicker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.controls-footer {    
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:5;
}

.footer-border {
    border-top: 2px solid #ccc;
}

.questions-list {
    margin-bottom: 100px;
}

.questions-list .list-group-item:not(.selected) > * {
    opacity: 0.4;
}

.questions-list .list-group-item:not(.selected) .btn {
    display: none;
}

.ghost {
    opacity: 0 !important;
    background-color: transparent !important;
}

#time-slave {
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #fff;
}

#anwser-alert > span {
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #fff;
}

#question-correct {
    line-height: 60px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 3px solid #fff;
}

@-moz-keyframes flicker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes flicker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}